@font-face {
  font-family: "Futura LT Pro";
  src: url("/fonts/FuturaLTPro-XBold.eot");
  src: local("Futura LT Pro Extra Bold"), local("FuturaLTPro-XBold"),
    url("/fonts/FuturaLTPro-XBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/FuturaLTPro-XBold.woff2") format("woff2"),
    url("/fonts/FuturaLTPro-XBold.woff") format("woff"),
    url("/fonts/FuturaLTPro-XBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

html {
  font-size: 1vmin;
}

body {
  margin: 0;
  padding: 0;
}

body,
button,
input {
  font-family: "Futura LT Pro", "Arial Black", "Arial Bold", Gadget, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
